.listproject {
  display: flex;
  flex-direction: column;
}

.main {
  height: 80%;
  width: 100%;
}

.container{
  display: flex;
  flex-wrap: wrap;
}
.item{
  height:170px;
  width:300px;
  border:1px solid #dbd7d7;
  border-radius: 10px;
  margin-top:25px;
  margin-right: 25px;
  padding:15px 20px;
  display: block;
  background: #a1f4fd;
}

.table {
  height: 80%;
  width: 100%;
  padding: 20px
}

img {
  height: 70%;

}

.styled-table {
  width: 99%;
  /* height: 80%; */
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
 
}

.styled-table thead tr {
  color: black;
  text-align: left;
  border-bottom: 1px solid #dbd7d7;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}
.styled-table tbody tr{
  border-bottom : 1px solid #f2efef;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

input[type=checkbox] {
  position: relative;
  cursor: pointer;
  display: inline;
}
input[type=checkbox]:before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #555555;
  border-radius: 3px;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.wrapper {
  position: relative;
  display: flex;
  min-width: 100px;
}
.search-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 14px;
}

.search {
  margin-top :5px;
  border: 1px solid grey;
  border-radius: 5px;
  height: 40px;
  width: 45%;
  padding: 2px 23px 2px 30px;
  outline: 0;
}
.search:hover, .search:focus {
  border: 1.5px solid #009688;
  background-color: white;
}