.listproject{
    display:flex;
    flex-direction: column;
}
.header{
    display:flex;
    justify-content: left;
    align-items: center;
   height:15%;
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4);
}
.main{
    height:80%;
    width:100%;
}
.table{
    height:80%;
    width:100%;
    padding:20px
}
img{
    height: 70%;
    
}
.styled-table {
    width:99%;
    height:80%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}